.wcrendr-oh-table {
    max-width: 630px;
    background: white;
    margin-bottom: 20px;
}

.wcrendr-oh-table table {
    background: white;
    margin: 0;
    padding: 0;
    border-right: 1px solid #e0e0e0;
}

.wcrendr-oh-table table thead th {
    background: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 06px 12px;
    border-right: none;
    font-size: 12px;
}

.wcrendr-oh-table table tbody td {
    border: 1px solid #e0e0e0;
    border-right: none;
    border-top: none;
    padding: 6px 12px;
}
a.button.wc-action-button.wc-action-button-book.book {
    font-size: 12px;
    text-indent: initial !important;
    width: auto;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    padding: 0 10px !important;
}
.wcrendr-oh-table table tbody tr > td:first-child, .wcrendr-oh-table table thead tr > th:first-child {
    text-align: center;
    padding: 6px;
    max-width: 70px;
    width: 70px;
}

.wcrendr-oh-table table tbody tr > td:last-child, .wcrendr-oh-table table tbody tr > td:nth-child(3), .wcrendr-oh-table table thead tr > th:last-child, .wcrendr-oh-table table thead tr > th:nth-child(3) {
    width: 70px;
    max-width: 70px;
    min-width: auto;
}

.wcrendr-oh-table input {
    max-width: 70px;
}

.wcrendr-oh-table table tbody tr > td:nth-child(2), .wcrendr-oh-table table thead tr > th:nth-child(2) {
    width: 295px;
}
.rendr-presets table th, .rendr-presets table td {
    padding-left: 12px;
    padding-right: 12px !important;
}

.rendr-presets table {
    width: 650px;
}

.rendr-presets table input {
    width: auto;
    min-width: 0;
}
#woocommerce_wcrendr_creds_title + table + table {
    display: none;
}
.rendr-presets table thead th, .rendr-presets table tfoot th {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #f1f1f1;
}

.wcrendr-box-width, .wcrendr-box-length, .wcrendr-box-height {
    max-width: 100px;
}

.wcrendr-box-width input, .wcrendr-box-length input, .wcrendr-box-height input {
    max-width: 108px;
    margin: 0 !important;
}

td.wcrendr-box-remove {
    text-align: center;
}

td.wcrendr-box-remove span {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 0;
    width: auto;
    cursor: pointer;
}
td.wcrendr-box-remove span:hover {
    color: #ca4a20;
}

.rendr-presets .clone {
    display: none !important;
}

h3#woocommerce_wcrendr_packing_presets_title {
    margin-top: 40px;
}
h3#woocommerce_wcrendr_default_dimension_title {
    margin-top: 50px;
}

.ui-state-highlight a.ui-state-default {
    background: #0073aa !important;
    border-color: #0073aa !important;
    color: white !important;
}
input#woocommerce_wcrendr_blocked_dates + button {
    margin-bottom: 30px;
}